/* SITE STYLES */

body { margin: 0px; background-color: #ffffff; }

body, html, div, span, p, table, tr, td { font-family: Tahoma, Geneva, sans-serif; font-size: 16px; color: #000000; }
input, select, option, textarea { background-color: #ffffff; border: 1px solid #000000; font-family: Tahoma, Geneva, sans-serif; font-size: 14px; color: #000000; }

a, a:link, a:active, a:visited, a:hover { color: #2581a5; }

.navOuter { background-color: #515151; text-align: center; }
.navOuter a:first-child { border: 0px; }
.navOuter a { display: inline-block; padding: 15px 35px 15px 45px; border-left: 1px solid #999999; font-size: 16px; text-decoration: none; text-transform: uppercase; letter-spacing: 4px; color: #cccccc; }

.headerCall { font-family: "Arial Black", Gadget, sans-serif; font-size: 22px; font-weight: bold; color: #1185b4; }
.headerPhone { font-family: "Arial Black", Gadget, sans-serif; font-size: 30px; font-weight: bold; color: #b9c6cb; }

.bnavOuter { background-color: #337da7; text-align: center; }
.bnavOuter a:first-child { border: 0px; }
.bnavOuter a { display: inline-block; padding: 15px 35px 15px 45px; border-left: 1px solid #69b5db; font-size: 16px; text-decoration: none; text-transform: uppercase; letter-spacing: 4px; color: #dddddd; }

.footerOuter { background-color: #515151; }
.footerInner { position: relative; left: 50%; margin-left: -450px; width: 900px; padding: 30px 0px 30px 0px; text-align: center; font-size: 14px; color: #cccccc; }
.footerInner a { text-decoration: underline; color: #cccccc; }

/* PAGE STYLES */

.contentInner { padding: 30px 0px 30px 0px; }
.contentBody { font-size: 16px; }
.contentBody b { font-size: 18px; font-weight: normal; }
.contentBody h1 { font-size: 24px; font-weight: normal; color: #888888; }
.contentBody h2 { font-size: 18px; font-weight: bold; color: #444444; }
.contentBody h3 { font-size: 16px; font-weight: bold; text-transform: uppercase; color: #444444; }
.contentBody h4 { font-size: 14px; font-weight: normal; font-style: italic; color: #444444; }
.contentBody h5 { font-size: 13px; font-weight: normal; font-style: italic; color: #444444; }
.contentBody b, .contentBody h1, .contentBody h2, .contentBody h3, .contentBody h4, .contentBody h5 { margin: 0px; padding: 0px; }
.contentBreak { padding-top: 30px; }

.homeTitle { background-image: url(../images/title_bar.jpg); background-position: top center; background-repeat: no-repeat; height: 380px; text-align: center; }
.homeTitle div { position: relative; left: 50%; margin-left: -480px; width: 960px; padding: 270px 0px 0px 0px; font-family: "Arial Black", Gadget, sans-serif; font-size: 26px; font-weight: bold; text-align: center; color: #ffffff; }

.sectionTitle { background-image: url(../images/title_bar.jpg); background-position: bottom center; background-repeat: no-repeat; height: 100px; text-align: center; }
.sectionTitle div { position: relative; left: 50%; margin-left: -480px; width: 960px; padding: 30px 0px 30px 0px; font-family: "Arial Black", Gadget, sans-serif; font-size: 32px; font-weight: bold; text-align: center; text-transform: uppercase; color: #ffffff; }

.aboutTitle { background-color: #555555; margin-bottom: 20px; padding: 10px; font-size: 20px; font-weight: bold; color: #ffffff; }
.aboutBody { font-size: 17px; font-weight: bold; }

.semTitle { background-color: #515151; }
.semTitle div { padding: 15px; font-size: 18px; font-weight: bold; color: #ffffff; }
.semList div { margin: 15px; background-image: url(../images/icon_check.jpg); background-position: top left; background-repeat: no-repeat; padding-left: 40px; padding-right: 15px; }

/* FORM STYLE */

.contactForm { padding: 0px; margin: 0px; }
.contactForm .formTitle { font-weight: bold; color: #000000; }
.contactForm .tinyBox { background-color: #ffffff; padding: 3px; border: 1px solid #000000; width: 60px; color: #000000; }
.contactForm .smallBox { background-color: #ffffff; padding: 3px; border: 1px solid #000000; width: 120px; color: #000000; }
.contactForm .medBox { background-color: #ffffff; padding: 3px; border: 1px solid #000000; width: 280px; color: #000000; }
.contactForm .longBox { background-color: #ffffff; padding: 3px; border: 1px solid #000000; width: 350px; color: #000000; }
.contactForm .longestBox { background-color: #ffffff; padding: 3px; border: 1px solid #000000; width: 420px; color: #000000; }
.contactForm .smallTextbox { background-color: #ffffff; padding: 3px; border: 1px solid #000000; width: 120px; height: 100px; color: #000000; }
.contactForm .medTextbox { background-color: #ffffff; padding: 3px; border: 1px solid #000000; width: 350px; height: 150px; color: #000000; }
.contactForm .longTextbox { background-color: #ffffff; padding: 3px; border: 1px solid #000000; width: 420px; height: 220px; color: #000000; }
.contactForm select { background-color: #ffffff; padding: 3px; border: 1px solid #000000; width: 300px; color: #000000; }
.contactForm select.smallDrop { background-color: #ffffff; padding: 3px; border: 1px solid #000000; width: 80px; color: #000000; }
.contactForm select.longDrop { background-color: #ffffff; padding: 3px; border: 1px solid #000000; width: 420px; color: #000000; }
.contactForm select option { padding: 0px; }
input.formButton { background-color: #bb2922; border: 2px outset #bb2922; margin-top: 15px; padding: 3px 8px 3px 8px; text-align: center; text-decoration: none; font-weight: bold; color: #ffffff; }

/* PAGINATION STYLE */

.resultPages { margin-top: 20px; background-color: #cccccc; border-top: 1px dashed #aaaaaa; padding: 1px; }
.resultPages .pageNumbers { font-size: 13px; font-weight: normal; color: #000000; }
.resultPages a { display: inline; padding: 2px 6px 2px 6px; background-color: #aaaaaa; font-size: 14px; font-weight: bold; text-decoration: none; color: #000000; }
.resultPages .curPage { display: inline; padding: 2px 6px 2px 6px; background-color: #4c6b8e; font-size: 14px; font-weight: bold; color: #ffffff; }