/* PANEL STYLE */

.panelLogin { background-color: #eeeeee; padding: 30px; width: 300px; }
.panelContent .contentTitle { margin-top: 0px; font-size: 22px; font-weight: normal; color: #000000; }
.panelContent .contentSubtitle { margin-top: 0px; font-size: 16px; font-weight: normal; color: #4c6b8e; }
.panelMenu { background-color: #be1a1e; border: 1px solid #be1a1e; margin-bottom: 20px; padding: 7px; text-align: center; color: #ffffff; }
.panelMenu a { font-size: 11px; font-weight: bold; text-decoration: none; color: #ffffff !important; }
.panelMenu .menuSpace { margin: 0px 5px 0px 5px; }

p.panelAlert { font-size: 13px; font-weight: bold; color: #7d0300; }
p.greenAlert { font-size: 13px; font-weight: bold; color: #348200; }

.listTable .listHeader { background-color: #4c6b8e; font-size: 14px; font-weight: bold; color: #ffffff; }
.listTable .listEmpty { background-color: transparent; border: 1px solid #a0bbb3; padding: 25px; font-style: italic; color: #ffffff; }
.listTable .listOne { background-color: #eeeeee; color: #000000; }
.listTable .listTwo { background-color: #eeeeee; color: #000000; }
.listTable .listOne a, .listTable .listTwo a { font-size: 13px; text-decoration: none; color: #000000; }
.listTable .listOne a.aLink, .listTable .listTwo a.aLink { font-size: 11px; text-transform: uppercase; color: #000000; }
.listTable .listBottom { background-color: #4c6b8e; }
.listTable .catSelect { padding: 2px; font-size: 13px; }
.listTable .catSelect option { font-size: 11px; }

table.panelForm td { background-color: #eeeeee; color: #000000; }
.panelForm td.formTitle { font-size: 14px; font-weight: bold; }
.panelForm td.formField { font-size: 14px; font-weight: normal; }
.panelForm td.formField .tinyBox { background-color: #ffffff; border: 1px solid #000000; padding: 5px; width: 80px; color: #000000; }
.panelForm td.formField .smallBox { background-color: #ffffff; border: 1px solid #000000; padding: 5px; width: 150px; color: #000000; }
.panelForm td.formField .medBox { background-color: #ffffff; border: 1px solid #000000; padding: 5px; width: 300px; color: #000000; }
.panelForm td.formField .longBox { background-color: #ffffff; border: 1px solid #000000; padding: 5px; width: 600px; color: #000000; }
.panelForm td.formField .medTextbox { background-color: #ffffff; border: 1px solid #000000; padding: 5px; width: 300px; height: 100px; color: #000000; }
.panelForm td.formField .longTextbox { background-color: #ffffff; border: 1px solid #000000; padding: 5px; width: 945px; height: 200px; color: #000000; }
.panelForm td.formField .contentTextbox { background-color: #ffffff; border: 1px solid #000000; padding: 5px; width: 945px; height: 350px; color: #000000; }
.panelForm td.formField .genDrop { background-color: #ffffff; border: 1px solid #000000; padding: 2px; color: #000000; }
.panelForm td.formField .smallDrop { background-color: #ffffff; border: 1px solid #000000; padding: 2px; width: 150px; color: #000000; }
.panelForm td.formField .medDrop { background-color: #ffffff; border: 1px solid #000000; padding: 2px; width: 300px; color: #000000; }
.panelForm td.formField .longDrop { background-color: #ffffff; border: 1px solid #000000; padding: 2px; width: 600px; color: #000000; }
.panelForm td.formField select option { border: 0px !important; }
input.panelButton { background-color: #518ad6; border: 2px outset #518ad6; margin-top: 15px; padding: 3px 8px 3px 8px; text-align: center; text-decoration: none; font-weight: bold; color: #ffffff; }

a.addButton { display: block; background-color: #518ad6; border: 2px outset #518ad6; padding: 3px 8px 3px 8px; text-align: center; text-decoration: none; font-weight: bold; width: 180px; color: #ffffff; }

.manageAlbumEmpty { display: block; background-color: #cccccc; padding: 8px; font-size: 14px; font-weight: normal; font-style: italic; color: #000000; }
.manageAlbumPhoto img { margin: 0px 24px 24px 0px; border: 4px solid #666666; padding: 1px; }

.panelDeleteForm td .deleteButton { padding: 3px 24px 3px 24px; margin-right: 15px; background-color: #cccccc; border: 2px outset #cccccc; text-decoration: none; color: #000000; }
.panelDeleteForm td .deleteButton:hover { padding: 3px 24px 3px 24px; margin-right: 15px; background-color: #ff7682; border: 2px outset #ff7682; text-decoration: none; color: #000000; }